# Исключить все файлы с расширение .elf, .hex, *.bin, .map, .o, .d
*.elf
*.hex
*.bin
*.map
*.[od]

# Пример -> Но отслеживать файл lib.a даже если он подпадает под исключение выше
# !lib.a

# Пример -> Исключить файл TODO в корневом каталоге, но не файл в subdir/TODO
# /TODO

# Пример -> Игнорировать все файлы в каталоге build/
# build/
./t_12/TouchGFX/TouchGFX/generated/images

# Пример -> Игнорировать файл doc/notes.txt, но не файл doc/server/arch.txt
# doc/*.txt

# Пример -> Игнорировать все .txt файлы в каталоге doc/
# doc/**/*.txt